.about-content{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card:hover {
  /* box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color); */
}
.card{
  transition: transform 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.overlay{
  width: 20px;
  position: absolute; 
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 0;
  opacity: 0;
  transition: transform 0.7s ease-out;
}
.card:hover .overlay{
  opacity: 1;
  transform: scale(15);
}

.card:hover{
  transform: scale(1.05);
}

.content-container::-webkit-scrollbar {
  display: none;
}

.content-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.about-container,.job-card, .project-card, .academi-card {
   transition: all 0.5s;
  /*transform-origin: 0% 0%;
  transform :perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg) scale(0.7);
  transform-origin: -200% 170%;*/
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.job-container:hover .job-card{
  /* transform: scale(1.02);
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s; */
}