@import "tailwindcss";

:root {
  --background: #00232a;
  --foreground: #ffffff;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* background: var(--background); */
  background: 
    radial-gradient(
        circle, 
        oklch(27.007% 0.07542 149.438 / 0), 
        oklch(27.103% 0.06993 152.916)
      ),
    linear-gradient(
        344deg in oklch,
        #a6fbc2,#3c7b51,#a5ffc7
      );
  color: var(--foreground);
}
