/* a {
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  transition: all 0.5s ease;
}

a:hover {
  animation: neonFlicker 1.5s infinite alternate;
}

a:hover::before {
  visibility: visible;
  clip: rect(0, 900px, 0, 0);
  animation: neonFlicker 1.5s infinite alternate;
}

@keyframes neonFlicker {
  0%, 100% {
    text-shadow: 0 0 10px #5cf28e, 0 0 15px #5cf28e;
  }
  50% {
    text-shadow: 0 0 10px #5cf28e,0 0 15px #5cf28e, 0 0 20px #5cf28e, 0 0 25px #5cf28e;
  }
} */

.btn-text{
  transition: 0.3s linear ;
}

.btn:hover .btn-text{
  max-width: 200px !important;
  padding-inline: 5px;
}